layout: index
subtitle: A. l
shortdescription: Android Developer x Graphic Designer
description: I'm Ansgar. An Android developer and designer. This is my personal website.
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap-main
    .intro-feature-main
      h3.intro-feature-title Welcome
      p.intro-feature-desc In here, you can see my profilo, all the project I have worked on, and my personal blog, which records some of my learning and life experience. So, be enjoy, and feel free to contact me if you have any further question.
