layout: index
subtitle: A. l
shortdescription: Android Developer x Graphic Designer
description: I'm Ansgar. An Android developer and designer. This is my personal website.
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap-main
    .intro-feature-main
      h3.intro-feature-title Welcome
      p.intro-feature-desc 在這可以瀏覽我的個人資料、我參與過或正在進行中的專案，和關於我自己的學習紀錄。如有任何問題，歡迎與我聯絡。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-building
      h3.intro-feature-title Fcloud
      p.intro-feature-desc 有關於我在Fcloud所協助撰寫的文件和設計規範。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title Material Design
      p.intro-feature-desc 基於官方文件整理並翻譯後的版本。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title Tools
      p.intro-feature-desc 介紹我在工作中會使用到的工具軟體。
